# Part 2 EDA
Jacob Tanzi

## Exploratory Data Analysis

* Load in your csv.gz's of results for each year extracted.
 * Concatenate the data into 1 dataframe for the remainder of the analysis.
* Once you have your data from the API, they would like you to perform some light EDA to show:
 * How many movies had at least some valid financial information (values > 0 for budget OR revenue)?
 * * Please exclude any movies with 0's for budget AND revenue from the remaining visualizations.
 
* How many movies are there in each of the certification categories (G/PG/PG-13/R)?

* What is the average revenue per certification category?

* What is the average budget per certification category?

In [2]:
import pandas as pd
import gzip

In [3]:
import os, time,json
import tmdbsimple as tmdb 
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'Data',
 'final_tmdb_data_2000.csv.gz',
 'final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'TMDB api.ipynb',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [5]:
file_path_2000 = r"\Users\Jacob\Documents\GitHub\0424 d e\Project-3\Data\final_tmdb_data_2000.csv.gz"
file_path_2001 = r"\Users\Jacob\Documents\GitHub\0424 d e\Project-3\Data\final_tmdb_data_2001.csv.gz"

df_2000 = pd.read_csv(file_path_2000)
df_2001 = pd.read_csv(file_path_2001)

combined_df = pd.concat([df_2000, df_2001], ignore_index=True)

In [6]:
combined_df.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.45,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.11,2268.0,PG

In [7]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2598 entries, 0 to 2597
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2598 non-null   object
 1   adult                  2596 non-null   float64
 2   backdrop_path          1431 non-null   object
 3   belongs_to_collection  211 non-null    object
 4   budget                 2596 non-null   float64
 5   genres                 2596 non-null   object
 6   homepage               171 non-null    object
 7   id                     2596 non-null   float64
 8   original_language      2596 non-null   object
 9   original_title         2596 non-null   object
 10  overview               2552 non-null   object
 11  popularity             2596 non-null   float64
 12  poster_path            2352 non-null   object
 13  production_companies   2596 non-null   object
 14  production_countries   2596 non-null   object
 15  release_date           2575 non-null   object
 16  revenue                2596 non-null   float64
 17  runtime                2596 non-null   float64
 18  spoken_languages       2596 non-null   object
 19  status                 2596 non-null   object
 20  tagline                1115 non-null   object
 21  title                  2596 non-null   object
 22  video                  2596 non-null   float64
 23  vote_average           2596 non-null   float64
 24  vote_count             2596 non-null   float64
 25  certification          812 non-null    object
dtypes: float64(9), object(17)
memory usage: 527.8+ KB

In [8]:
financial_info_count = combined_df[(combined_df['budget'] > 0) | (combined_df['revenue'] > 0)].shape[0]
print("Number of movies with valid financial information:", financial_info_count)

Number of movies with valid financial information: 642

In [9]:
certification_counts = combined_df['certification'].value_counts()

print(certification_counts)

R          466
PG-13      182
NR          71
PG          62
G           24
NC-17        6
Unrated      1
Name: certification, dtype: int64

In [10]:
ave_revenue_by_cert = combined_df.groupby('certification')['revenue'].mean()

print(ave_revenue_by_cert)

certification
G          7.335298e+07
NC-17      0.000000e+00
NR         2.295880e+06
PG         6.248013e+07
PG-13      7.146544e+07
R          1.529026e+07
Unrated    0.000000e+00
Name: revenue, dtype: float64

In [11]:
budget_by_cert = combined_df.groupby('certification')['budget'].mean()

print(budget_by_cert)

certification
G          2.383333e+07
NC-17      0.000000e+00
NR         1.509015e+06
PG         2.530641e+07
PG-13      3.094592e+07
R          9.501726e+06
Unrated    0.000000e+00
Name: budget, dtype: float64

In [12]:
output_file_path = r"\Users\Jacob\Documents\GitHub\0424 d e\Project-3\Data\tmdb_results_combined.csv.gz"
combined_df.to_csv(output_file_path, index=False, compression='gzip')

### Deliverables
After you have joined the tmdb results into 1 dataframe in the EDA Notebook,

* Save a final merged .csv.gz of all of the tmdb api data
* The file name should be "tmdb_results_combined.csv.gz"
* Make sure this is pushed to your github repository along with all of your code
 * One code file for API calls
 * One code file for EDA

* Submit the link